apiVersion: batch/v1
kind: Job
metadata:
  name: flyway-migrate
  namespace: silver
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: flyway
          image: flyway/flyway:11.8.1
          command: ["sh", "-c"]
          args:
            - flyway -url="jdbc:postgresql://$POSTGRES_HOST:5432/$POSTGRES_DB?user=$POSTGRES_USER&password=$POSTGRES_PASSWORD" migrate
          envFrom:
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - name: db-init-scripts
              mountPath: /flyway/sql
      volumes:
        - name: db-init-scripts
          configMap:
            name: db-init-scripts
